@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Black.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-BlackItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Bold.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-BoldItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Heavy.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-HeavyItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-LightItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Light.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Medium.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Regular.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-MediumItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-RegularItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-RegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-SemiboldItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-SemiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Semibold.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-ThinItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Thin.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-Ultralight.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-Ultralight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Santuy Sans";
    src: url("/fonts/BlinkMacSystemFont-UltralightItalic.woff2") format("woff2"),
        url("/fonts/BlinkMacSystemFont-UltralightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    //padding: 0;
    //margin: 0;
}

::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: yellow;
}

::selection {
    color: black;
    background: yellow;
}

html,
body {
    height: 100%;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    min-height: 100%;
    scroll-behavior: smooth;
}

html[data-theme="light"] {
    --bg-color: #fff;
    --base-color: #1e1e1e;
    --text-color: #374151;
    --base-low: lightgray;
    --time-low: gray;
}

html[data-theme="dark"] {
    --bg-color: #222222;
    --base-color: #eaeaea;
    --text-color: #d1d5db;
    --base-low: #424242;
    --time-low: lightgray;
}

body {
    font-family: "Santuy Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    line-height: 1.5;
    color: #333;
    background-color: #333;
    margin: 0;
}

h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.9em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5em;
}

a {
    color: var(--base-color);
}

a:hover {
    text-decoration: underline;
}
blockquote {
    border-left: 2px solid var(--base-color);
    padding: 0.5em;
    background: var(--base-low);
    margin: 0;
    border-radius: 8px;
}

blockquote::before {
    position: absolute;
    content: "\201C";
    font-size: 4em;
    margin-right: 10px;
}

blockquote > p {
    margin-left: 2.5em;
}

ul {
    padding: 0 0 1rem 1rem;
    list-style-type: square;
    font-variant-numeric: tabular-nums;
}

ol {
    padding: 0 0 1rem 1rem;
}

code,
pre {
    font-family: San Francisco Mono, Monaco, consolas, lucida console,
        dejavu sans mono, bitstream vera sans mono, monospace;
}
pre {
    border-radius: 9px;
}
pre code {
    border-radius: 9px;
}
code {
    background-color: var(--base-low);
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 5px;
    color: var(--base-color);
    padding: 0.01rem 0.2rem;
}

code > span {
    display: inline !important;
}
code > span > span {
    margin-right: 20px;
}
pre code {
    background-color: #282a36;
    border: 1px solid #334155;
    display: block;
    font-size: 15px;
    color: #fff;
    padding: 3em 1.2em 1em;
    overflow-x: auto;
}

img {
    max-width: 100%;
}

main {
    max-width: 70ch;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100%;
    background-color: var(--bg-color);
    color: var(--base-color);
}

footer {
    border-top: 1px solid var(--base-low);
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    max-width: 70ch;
    margin: 0 auto;
    color: var(--base-color);
}

.content h1 {
    margin-top: 0;
    line-height: 2rem;
}
.content p {
    color: var(--text-color);
}
.list {
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0;
    border-bottom: 1px solid var(--base-low);
    align-items: baseline;
    font-size: large;
    font-weight: inherit;
}
.list time {
    order: 1;
    font-size: 14px;
    color: var(--text-color);
}
.list a {
    order: 2;
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: var(--bg-color);
    padding: 2rem;
    border-bottom: 1px solid var(--base-low);
    color: var(--base-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
}

nav li {
    margin-right: 0.5em;
    display: inline;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: var(--base-color);
}

.title {
    font-weight: bold;
    font-size: 160%;
    line-height: 1em;
    text-decoration: none;
    color: inherit;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.content {
    padding: 2rem;
    word-wrap: break-word;
}

.content p a {
    text-decoration: underline;
}

[aria-current="page"] {
    //font-weight: bold;
    text-decoration: underline;
}

svg {
    max-width: 100%;
}

#disqus-button {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background: var(--base-color);
    color: var(--bg-color);
    border: none;
    font-family: inherit;
    border-radius: 5px;
}

#darkBtn {
    cursor: pointer;
}

#lightBtn {
    cursor: pointer;
}

.clipboard-button {
    position: absolute;
    display: flex;
    right: 0;
    padding: 10px;
    margin: 37px 7px 7px;
    color: #767676;
    background-color: #283444;
    border: 1px solid #334155;
    border-radius: 6px;
    font-size: 0.8em;
    z-index: 1;
    opacity: 0;
    transition: 0.1s;
}
.clipboard-button > svg {
    fill: #767676;
}
.clipboard-button:hover {
    cursor: pointer;
    background-color: #334155;
}
.clipboard-button:hover > svg {
}
.clipboard-button:focus {
    outline: 0;
    border-color: green;
}
.highlight {
    position: relative;

    pre code[data-lang]::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 2px 10px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 30px;
        font-size: 0.9rem;
        border-radius: 9px 9px 0 0;
        border: 1px solid #334155;
        border-bottom: 0;
        line-height: 1.9;
        font-weight: 700;
        color: #b1b1b1;
        background: #303339;
        content: attr(data-lang);
    }
}
.highlight:hover > .clipboard-button {
    opacity: 1;
    transition: 0.2s;
}

.cursor-newtab {
    cursor: url("../uploads/new-tab.png") 10 10, pointer;
}

.search-article {
    position: relative;
    margin-top: 2.5rem;

    label[for="search-input"] {
        position: relative;
        top: -6px;
        left: 11px;
    }

    input[type="search"] {
        top: -1rem;
        left: 0;
        border: 0;
        width: 100%;
        height: 40px;
        outline: none;
        position: absolute;
        border-radius: 5px;
        padding: 10px 10px 10px 35px;
        color: var(--base-color);
        -webkit-appearance: none;
        background-color: rgba(128, 128, 128, 0.1);
        border: 1px solid rgba(128, 128, 128, 0.1);
        &::-webkit-input-placeholder {
            color: #808080;
        }
        &::-webkit-search-decoration,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    a {
        font-weight: 500;
        text-decoration: none;
        background: var(--base-low);
        color: var(--base-color);
        margin: 0.2rem;
        padding: 0.5rem 0.6rem;
        font-size: 0.8rem;
        border-radius: 0.3rem;
        border-bottom: 0;
        white-space: nowrap;
        line-height: 1;
    }
}

//begin share
.social-share {
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
}

.share-text {
    display: flex;
    align-items: center;
}

.share-button {
    margin-left: auto;
    display: flex;
}

.share-button > a {
    display: flex;
    align-items: center;
}

.share-button > a > svg {
    fill: var(--base-color);
}

.share-post {
    color: var(--main-text-color);
    margin: 0 5px;
    font-size: 30px;
}

applause-button {
    position: relative;
    cursor: pointer;
}
applause-button .style-root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

applause-button .style-root:hover:after:not(.clap-limit-exceeded) {
    border-color: inherit;
}
applause-button.loading {
    opacity: 0.5;
}
applause-button .shockwave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
applause-button svg {
    position: absolute;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    stroke: none;
    overflow: visible !important;
}
applause-button svg g.flat {
    visibility: hidden;
}
applause-button svg g.outline {
    visibility: visible;
}
applause-button.clapped svg g.flat {
    visibility: visible;
}
applause-button.clapped svg g.outline {
    visibility: hidden;
}
applause-button .count-container {
    position: absolute;
    top: 15%;
    font-size: 18px;
    left: 95%;
    width: 100%;
    color: var(--main-text-color);
    user-select: none;
}
applause-button .count-container .count {
    text-align: left;
    color: var(--base-color);
}
applause-button g.sparkle circle {
    opacity: 0;
    stroke-width: 0;
}

applause-button.clap .style-root svg {
    animation-name: pulse;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}
applause-button.clap .sparkle circle {
    animation-name: explode;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes explode {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(25px);
    }
}
@keyframes shockwave {
    0% {
        transform: scale(1);
        box-shadow: 0 0 2px;
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
        box-shadow: 0 0 50px, inset 0 0 10px;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes hideThenShow {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    20% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.toast {
    position: fixed;
    display: flex;
    align-items: center;
    border-radius: 5px;
    bottom: 30px;
    left: 50%;
    padding: 10px;
    background-color: var(--base-color);
    color: var(--bg-color);
    transform: translate(-50%, 0);
    animation: fadeintoast 0.5s;
    font-size: 14px;
}
@keyframes fadeintoast {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
//end share
//next prev
.post-nav {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.4;

    .post-nav-item {
        border-bottom: 0;
        padding-bottom: 10px;

        .post-title {
            color: var(--base-color);
        }

        &:hover,
        &:focus {
            .post-title {
                color: var(--base-color);
                opacity: 0.9;
            }
        }

        .nav-arrow {
            font-size: 17px;
            color: var(--base-color);
            margin-bottom: 3px;
            font-weight: bold;
        }

        width: 50%;
        padding-top: 10px;
        text-decoration: none;
        box-sizing: border-box;

        &:nth-child(odd) {
            padding-left: 0;
            padding-right: 20px;
            border-top: 1px solid gray;
            border-right: 1px solid gray;
            width: 100%;
        }

        &:nth-child(even) {
            text-align: right;
            padding-right: 0;
            padding-left: 20px;
            border-top: 1px solid gray;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .post-nav {
        flex-direction: column;
    }
    .post-nav .post-nav-item:nth-child(odd) {
        border-right: none;
    }
}

//end next prev
@media only screen and (max-width: 425px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: 0.85em;
    }
    h6 {
        font-size: 0.75em;
    }

    .content h1 {
        line-height: 1;
    }

    header,
    footer,
    .content {
        padding: 2rem 1.5rem;
    }

    .content p {
        font-size: medium;
    }
}
