{{ define "main" }}

  <h1>{{ .Title }}</h1>
  
  {{ .Content }}
  
  {{ if hasPrefix .RelPermalink "/tags/" }} 
  <p>Semua Tags yang tersedia.</p>
  <div class="tags">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a href="/tags/{{ $name | urlize }}">{{ $name | humanize }}<sup>({{ $taxonomy.Count }})</sup></a>
    {{end}}
  </div>
  {{end}}
  
  {{ if (where .Pages "Type" "articles") }}
    {{ $paginator := .Paginate (where .Pages "Type" "articles") }}
    <div id="list">
    {{ range $paginator.Pages }} 
    <article class="list">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
    </article>
    {{ end }}
    {{ partial "pagination.html" .}}
    </div>
  {{ end }}

   {{ if (where .Pages "Type" "projects") }}
      {{ range (where .Pages "Type" "projects") }}
      <article class="list">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </article>
      {{end}}
   {{ end }}
  
{{ end }}
