
{{ define "main" }}
    <h1>{{ .Title }}</h1>

    {{ if or (eq .Section "articles") (eq .Section "projects") }}
      {{ partial "minread.html" . }}
      {{ partial "tags.html" .}}
    {{ end }}
  
  {{ .Content }}

  {{ if or (eq .Section "articles") (eq .Section "projects") }}
    <p>----</p>
  {{ if eq .Type "articles" }} {{ end }}
    {{ $date := .Date.Format "Jan 2, 2006" }}
    {{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}
    Published {{ $date }}
    {{ if and (ne $lastmod $date) (gt .Lastmod .Date) }}
        <br/>Updated {{ $lastmod }}
    {{ end }}
      <br/>
      <br/>
      {{ partial "share.html" .}}
    {{ if .Params.show_comment }}
      <br/>
      {{ partial "disqus.html" .}}
    {{ end }}
  {{ end }}

{{ end }}
